* {
	font-family: "Tahoma", sans-serif;
	margin: 0;
	word-wrap: break-word;
	
	/*https://www.canva.com/colors/color-palettes/engineers-workspace/*/
	--burgundy: #2E1110;
	--pewter: #94979A;
	--cool-gray: #858A91;
	--white: #F2EBEC;
	
	--slate: #BFCAD0;
	--ivory: #E2DED0;
	--blue-gray: #647C90;
}

html {
	height: 100%;
}

.text-center {
	text-align: center;
}

/*height > width*/
@media screen and (orientation:portrait) {
	header {
		font-size: 7vw;
	}
	
	footer {
		font-size: 2.5vw;
	}
	
	nav table tr td button{
		font-size: 3vw;
	}
	
	#content_title {
		font-size: 5.5vw;
	}
	
	#content_description {
		font-size: 3.5vw;
	}
	
	#card_description {
		font-size: 3vw;
	}
	
	#card {
		height: 60%;
	}
}

/*width > height*/
@media screen and (orientation:landscape) {
	header {
		font-size: 7vh;
	}
	
	footer {
		font-size: 2.5vh;
	}
	
	nav table tr td button{
		font-size: 3vh;
	}
	
	#content_title {
		font-size: 5.5vh;
	}
	
	#content_description {
		font-size: 3.5vh;
	}
	
	#card_description {
		font-size: 3vh;
	}
	
	#card {
		height: 100%;
	}
}

body {
	display: grid;
	height: 100%;	
	background-color: var(--white);
	grid-template-rows: 10% 8% auto 5.5%;
}

header, footer {
	font-weight: bold;
	background-color: var(--cool-gray);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

header a {
	color: inherit;
	text-decoration: none;
}

nav {
	background-color: var(--ivory);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav table {
	height: 100%;
	width: 100%;
	table-layout: fixed;
}

nav table td {
	align-items: center;
	justify-content: center;
}

nav button {
	background-color: var(--slate);
	color: var(--burgundy);
	font-weight: bold;
	border: none;
	border-radius: 10px;
	height: 80%;
	width: 95%;
}

nav button:hover {
	background-color: var(--blue-gray);
	color: var(--white);
}

#content {
	display: grid;
	grid-template-rows: 25% auto;
}

#content_title {
	color: var(--burgundy);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	animation-name: fade_in_effect;
	animation-duration: 1.5s;
}

@keyframes fade_in_effect {
	from {
		opacity: 0;
		transform: translateY(3%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fade_out_effect {
	from {
		opacity: 1;
		transform: translateY(0%);
	}
	to {
		opacity: 0;
		transform: translateY(3%);
	}
}

#content_description {
	color: var(--blue-gray);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	animation-name: fade_in_effect;
	animation-duration: 1s;
	align-items: center;
}

#content_description a {
	color: var(--cool-gray);
	text-decoration: none;
}

#content_description a:hover {
	color: var(--pewter);
	text-decoration: underline;
}

#card_content {
	display: grid;
	grid-template-columns: 10% auto 10%;
	width: 100%;
	height: 80%;
	align-items: center;
}

#card_content button {
	background-color: var(--slate);
	color: var(--burgundy);
	border: none;
	width: 50%;
	height: 0;
	padding-top: 50%; /*make the button round*/
	border-radius: 50%;
	position: relative; /*make text center relative to this*/
	left: 25%;
	right: 25%;
}

#card_content button:hover {
	
	background-color: var(--blue-gray);
	color: var(--white);
}


#card_content button span {
	/*making the button text center*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#card {
	background-color: var(--ivory);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#card_image {
	padding: 0 5%;
	width: 20%;
	height: auto;
}

#card_description {
	padding: 0 5%;
}

@keyframes card_to_left_fade_out {
	from {
		opacity: 1;
		transform: translateX(0%);
	}
	to {
		opacity: 0;
		transform: translateX(-3%);
	}
}

@keyframes card_from_right_fade_in {
	
	from {
		opacity: 0;
		transform: translateX(3%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes card_to_right_fade_out {
	from {
		opacity: 1;
		transform: translateX(0%);
	}
	to {
		opacity: 0;
		transform: translateX(3%);
	}
}

@keyframes card_from_left_fade_in {
	from {
		opacity: 0;
		transform: translateX(-3%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

.icon {
	width: 1.5rem;
	height: auto;
}
